{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<br>
    <p style="color:white">history</p>

    <table>
      <tr>
        <th>Date</th>
        <th>Preview</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
      </tr>
      <tr>
          <td>Test Table</td>
          <td>Transcript Preview</td>
        </tr>
    </table>

{% endblock %}