{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<h4 style="color:white"><center>Settings</center></h4>

<form id="password-reset-form" method="post">
  <input value = "1" type="hidden" name="form_id">
    <div id="alert"></div>
  
    <label for="password">New Password</label>
    <input type="password" name="password" id="password" required/>
  
    <label for="password-verify">Re-type password</label>
    <input type="password" name="password-verify" id="password-verify" required/>
  
    <button type="submit">Confirm new password</button>
</form>

<form id="account-delete-form" value="delete-submit">

  <input value = "2" type="hidden" name="form_id">
  <div class="form-check form-check-inline">
    <input type="checkbox" id="confirm-delete"/>
    <label for="confirm-delete">Yes I am sure I want to do this?</label>
  </div>
  
  <div>
    <button type="submit">Delete my account</button>
  </div>
</form>

{% endblock %}